body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background: #fff;
    color: #000;
    overflow-x: hidden;
    
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
   
}
#logo{
    width: 100px;
}
#pic1{
    margin-left: 175px;
    height: 455px;
    width: 400px;
    border-radius: 20%;
    border:2px solid var(--black);
    object-fit: cover;
    margin-bottom: 10px;
}

/* About page*/ 
.about-section{
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.about-section .about-title h1{
  position: relative;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000;

}
.about-section .about-desc{
  position: relative;
  font-size: 22px;
  font-weight: 500;
  text-align: justify;
}

/* Contact section */

.contact-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    

}

.contact-section .contact-title{
    position: relative;
    padding-bottom: 2rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold ;
    text-transform: uppercase ;
    letter-spacing: 1px;
    color: #000;
}

.contact-section p{
    position: relative;
    font-size: 22px;
    font-weight:500 ;
   
}

.contact-section .contact-btn{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a5a7a7;
}

.gallery-title{
    position: relative;
    font-size: 52px;
    font-weight:500 ;
   
}

.gallery{
    padding: 50px 0; 
}

.gallery-item{
    background-color: white;
    padding: 15px;
    width: 90%;
    box-shadow: 0 0 20px ;
    margin-top: 10px;
}


/* Login */

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin:  6% auto;
    background: #FFB5B5;
    padding: 5px;
    border-radius: 10px;
    
}

h2{
    margin-top: 15px;
    position: relative;
    text-align: center;
    border: 3px solid;
    border-radius: 150px;
    width: 200px;
    height: 50px;
    margin-left: 84px;
}



.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin-left: 45px;
    
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    
}

.submit-btn{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top:10px;
    background: linear-gradient(to right, #ED50F1,#A239EA);
    border: 0;
    outline: none;
    
}



/*Navbar*/
.navbar{
    position: relative;
}

.navbar ul li{
position:relative;
margin-left: 2.5rem;
margin-right: 1rem;
}

.navbar ul li{
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height:14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #999;
}

.navbar-collapse{
    text-align: center;
}

.navbar-light .navbar-toggler:focus{
    color: #000;
    box-shadow: 0 0 0 2px;
}

/*Links*/

a{
    text-decoration: none !important;
    color: #999;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #FF7878 !important;
}


/*Banner*/

.banner-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.banner-section .banner-title{
    position: relative;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 1px;
    color: #000;
    
}

.banner-section .banner-desc{
    position: relative;
    font-size: 22px;
    font-weight: 500;
    text-align: justify;
}

.banner-section .banner-btn{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a5a7a7;
}

/* footer */
.footer{
    position: relative;
    padding-top: 30px;
    background: #f7f7f7;
}

.footer .social-media .footer-list {
    position: relative;
    margin: 0 0 20px; 
    display: inline-block;
}

.footer .social-media .footer-list li{
    float: left;
    margin-right: 10px;
}

.footer .social-media .footer-list a{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5rem;
    color: #000;

}

