/*resume*/

.about-section .about-btn{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a5a7a7;
}

.profile{
  flex:1 1 400px;
  background: var(--white);
  padding:20px 30px;
  text-align: center;
  position: sticky;
  top:20px; left:0;
  border-right:2px solid var(--black);
  align-self: flex-start;
}

.profile img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;

}
.profile h3{
  color:var(--black);
  font-size: 20px;
}
.information{
  flex:1 1 900px;
  background: #FDF6EC;
  padding:20px 30px;
  position: sticky;
  
}

.information .about .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  text-align: center ;
  position: relative;
} 

.information .about .box-container .box{
  flex:1 1 500px;
}
.information .about .box-container .box h3{
  font-size: 15px;
  padding:5px 0;
  color:black;
}

.information .about .box-container .box h3 span{
  color:black;
}

.information .experience{
  margin:20px 0;
}
.information .experience .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}
.information .experience .box-container .box{
  padding:20px;
  border-radius: 5px;
  flex:1 1 350px;
  background: white;
}
.information .experience .box-container .box span{
  color:var(--blue);
  font-size: 15px;
}
.information .experience .box-container .box h3{
  color:var(--black);
  font-size: 17px;
  padding:5px 0;
}

